@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    :root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 270 100% 98%;
  --card-foreground: 270 40% 30%;
  --popover: 270 100% 98%;
  --popover-foreground: 270 40% 30%;

  --primary: 272 75% 60%;                /* Violete tone */
  --primary-foreground: 0 0% 100%;

  --secondary: 270 40% 94%;
  --secondary-foreground: 270 40% 25%;

  --muted: 270 30% 96%;
  --muted-foreground: 270 20% 40%;

  --accent: 270 50% 95%;
  --accent-foreground: 270 50% 25%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 270 40% 85%;
  --input: 270 40% 90%;
  --ring: 272 70% 55%;

  --chart-1: 278 65% 66%;
  --chart-2: 268 45% 55%;
  --chart-3: 280 60% 35%;
  --chart-4: 270 80% 75%;
  --chart-5: 275 70% 50%;

  --radius: 0.5rem;

  /* Sidebar (violet tones) */
  --sidebar-background: 270 100% 97%;
  --sidebar-foreground: 270 30% 30%;
  --sidebar-primary: 272 80% 55%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 270 100% 92%;
  --sidebar-accent-foreground: 270 40% 35%;
  --sidebar-border: 270 45% 85%;
  --sidebar-ring: 272 70% 55%;
}


    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary:263.4 70% 50.4%;
        --primary-foreground:210 20% 98%;
    
        --secondary:215 27.9% 16.9%;
        --secondary-foreground:210 20% 98%;
        --muted: 0 0% 6.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 0 0% 7%;
        --sidebar-foreground: 0 0% 95.9%;
        --sidebar-primary: 360, 100%, 100%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 0 0% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 0 0% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
